/*GENERAL CSS STARTS HERE*/
html {
	height: 100%;
}

body {
	background: url(../images/blackthread.png);
	background-repeat: repeat;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 600;
	min-height: 100%;
	display: flex;
 	flex-direction: column;
}

footer {
	font-size: 12px;
	font-weight: 400;
	width: 100%;
	padding-bottom: 20px;
}

h1 {
	margin: 0 auto;
	height: 120px;
	line-height: 120px;
    font-size: 60px;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../images/gold8.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    font-family: 'Limelight', cursive;
}
h2 {
	font-size: 20px;
}

#end-message {
	margin-top: 20px;
	margin-bottom: 30px;
}
#correct-ct, #wrong-ct {
	margin-bottom: 10px;
}
#unanswered-ct {
	margin-bottom: 40px;
}

#trivia-container {
	flex: 1;
}
#trivia-container, #questions-div {
	margin: 0 auto;
}
/*BUTTON CSS STARTS HERE*/
#start-reset-div button {
	width: 300px;
	margin: 0 auto;
}
.answer-choice, button {
	font-family: 'Open Sans', sans-serif;
	border: 2px solid #595959;
	padding: 10px;
	margin: 10px auto;
	width: 600px;
	background-color: #fff;
	color: #000;
	font-size: 18px;
	font-weight: 600;
}

button:hover, button:active, ul li:hover, ul li:active {
	color: #000;
	cursor: pointer;
	background: #fff;
	-webkit-background-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../images/gold8.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: background;
}

#answer-choices {
	width: 100%;
}

ul {
	padding: 0;
}

/*MEDIA QUERY CSS STARTS HERE*/
@media only screen and (max-width: 600px) {

	h1 {
		font-size: 40px;
	}

	h2, .answer-choice, button {
		font-size: 15px;
		width: 90%;
	}
	#trivia-container {
		width: 95%;
		margin: 0 auto;
		padding: 0;
	}














